* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Color */
  --color-primary: #e67e22;
  --color-primary--tint: #fdf2e9;
  --color-primary--tone: #cf711f;
  --color-white: #fff;
  --color-black: #000;
  --color-text: #333;

  /* Border-radius */
  --border-medium: 9px;
  --border-large: 11px;

  /* Box-Shadow */
  --shadow-regular: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  --shadow-dark: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.section {
  transition: all 0.4s ease-out;
}

.section--hidden {
  opacity: 0;
  transform: translateY(-10px);
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

/* Text */
.heading-primary,
.headding-secondary {
  font-weight: 700;

  color: var(--color-text);
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  color: var(--color-text);
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3.6rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  font-weight: 500;
  color: var(--color-primary--tone);
  letter-spacing: 0.75px;
}

/* Button */

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  /* background-color: var(--color-primary); */

  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: var(--border-medium);
  transition: all 0.3s ease-out;
  border: none;
  cursor: pointer;
}

.btn--full:link,
.btn--full:visited {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn--full:hover,
.btn--full:active {
  background-color: var(--color-primary--tone);
  color: var(--color-white);
}

.btn--outline:link,
.btn--outline:visited {
  background-color: var(--color-white);
  color: var(--color-text);
}
.btn--outline:hover,
.btn--outline:active {
  background-color: var(--color-primary--tint);
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
  background-color: #45260a;
  color: var(--color-primary--tint);
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: var(--color-white);
  color: #555;
}

.link:link,
.link:visited {
  display: inline-block;
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 0.02px;
  transition: all 0.3s ease-out;
}

.link:hover,
.link:active {
  color: var(--color-primary--tone);
  border-bottom: 1px solid transparent;
}

/* List */
.lists {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: var(--color-primary);
}

/* Focus */
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

/* Utilities */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}
